/*

Design: Philippe Grand / Developement: Philippe Grand - 06/05/2017

Palette couleur:
-
70% |
20% |
5% |
5% |

Typographie:
-
font-family:
Titre >
Texte >
Lien >
Lien(:hover) >
Lien(:active) >

*/

html{}

body{}

h1{}

p{}
  .citation{
    color: purple;
    font-style: italic;
  }

h6{}

img{}
  .persona{
    width: 100px;
    border-radius: 50%;
  }
